@import url("./Typography.css");
/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after { box-sizing: border-box;}
* { margin: 0; padding: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
#root, #__next { isolation: isolate; }

/*------------------------------------------------------------------*/
:root {
  /* Colours */
  --primary:         hsl(0, 0%, 10%);
  --primary-light:   hsl(0, 0%, 15%);
  --primary-overlay: hsla(0, 0%, 10%, 0.8);

  --white:           hsl(0, 0%, 98%);
  --gray:            hsl(0, 2%, 76%);

  --selected:        hsl(0, 0%, 98%);
  --success:         hsl(140, 52%, 55%);
  --error:           hsla(0, 96%, 35%, 1);
  --warning:         hsla(48, 96%, 45%, 1);

  /* Spacing */
  --screenPadding-w:   5vw;
  --screenPadding-h:   5vh;

  --space-base:        1em;
  --space-xxxs:        calc(0.25 * var(--space-base));
  --space-xxs:         calc(0.375 * var(--space-base));
  --space-xs:          calc(0.5 * var(--space-base));
  --space-sm:          calc(0.75 * var(--space-base));
  --space-md:          calc(1.25 * var(--space-base));
  --space-lg:          calc(2 * var(--space-base));
  --space-xl:          calc(3.25 * var(--space-base));
  --space-xxl:         calc(5.25 * var(--space-base));
  --space-xxxl:        calc(8.5 * var(--space-base)); 
}
/*------------------------------------------------------------------*/

#root {
  background-color: var(--primary);
  color: var(--white);

  background-image: url(../Assets/Noise\ &\ Texture.svg);
  background-repeat: repeat;

  scroll-behavior: smooth;
}

button{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: var(--space-xs) 
           var(--space-sm) 
           var(--space-xs) 
           var(--space-xs);

  border-style: solid;
  border-color: var(--white);
  border-radius: var(--space-xl);

  background: none;
  cursor: pointer;
}

button > img {
  width: auto;
  height: var(--space-md);
  margin-right: var(--space-xxs);
}

/*----------------------------- TOP NAV ----------------------------*/
#TopNav {
  box-sizing: border-box;
  z-index: 1;

  position: sticky;
  top: 0;
  transform: translateY(2vh);

  width: 100%;
  padding: 5vh 8vw 3vh 8vw;
  
  background: linear-gradient(
    to bottom, 
    rgba(26, 26, 26, 100), 
    rgba(26, 26, 26, 0)
  );
}

#TopNav > nav, .MenuContainer, .Availability {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StatusIndicator {
  height: 0.75rem;
  width: 0.75rem;
  margin-right: var(--space-xxs);

  border-style: none;
  background-color: var(--success);
  border-radius: 50%;
}

.MenuContainer {
  gap: var(--space-sm) ;
}
/*----------------------------- LANDING ----------------------------*/
#LandingSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);

  width: 100%;
  height: 70vh;

  padding: var(--screenPadding-h) 
           var(--screenPadding-w) 
           0 
           var(--screenPadding-w);
}

#LandingSection > p {
  width: 75vw;
}

.contactContainer {
  height: var(--space-lg);
}

.contacts {
  display: flex;
  flex-grow: 1;
  gap: var(--space-xs);
  
  height: 100%;
}

.contacts img {
  height: 100%;
  width: auto;
}

.quote {
  margin-top: var(--space-xxl);
}

.quote > h3 {
  margin-bottom: var(--space-xs);
}

.scrollIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);

  height: 10vh;
}
/*---------------------------- PROJECTS ----------------------------*/
#ProjectSection {
  position: relative;
  padding-top: 20vh;
}

.titleContainer {
  z-index: -1;

  position: fixed;
  top: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  text-align: start;
}

.projectTitle{
  position: relative;
  display: block; 
  width: 80vw;
  overflow: hidden;
} 

.hiddenTitle {
  position: absolute;
  width: 100%;
  inset: 0;
}

.projectTitle > div > span{
  display: inline-block;
  width: 100%;
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
  width: 100%;
  padding: var(--screenPadding-h) 0;
}

/*------------------------ CAROUSEL & CARD ------------------------*/
.Projects > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-lg);

  margin: 75vh var(--screenPadding-w);
  background-color: var(--primary-overlay);
}

.cardDisplay {
  margin-bottom: 1vh;
  width: 100%;
  height: 20vh;
  
  background-color: var(--gray);
  border-radius: var(--space-md);
  overflow: hidden;
}

.cardDisplay > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*----------------------------- DRAWER ----------------------------*/
.drawerContainer {
  z-index: 5;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--primary-overlay);
}

.drawerContainer > div {
  position: absolute;
  bottom: 0%;

  height: 85vh;
  width: 100%;

  overflow: hidden;
  border-radius: var(--space-lg) var(--space-lg) 0vh 0vh;

  background-color: var(--primary-light);
}

.drawerHandle {
  z-index: 10;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  

  display: flex;
  justify-content: center;
}

.drawerHandle > button {
  width: var(--space-xxl);
  margin-top: var(--space-xxxs);

  background-color: var(--white);
  border-width: var(--space-sm);
  border-color: var(--primary-light);
  
  cursor: grab;
}

.drawerHandle > button:active {
  cursor: grabbing;
}

.drawerContent {
  z-index: 2;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  padding: var(--screenPadding-h) var(--screenPadding-w);
}

.drawerContent > h3 {
  margin: var(--space-xs) 0;
}

.carousel {
  position: relative;
  overflow: hidden;

  height: 100%;
  padding: 2vh 5vw;
}

.carousel > div{
  display: flex;
  align-items: center;
  cursor: grab;
}

.carousel > div:active{
  cursor: grabbing;
}

.carouselProgress{
  display: flex;
  justify-content: center;
  gap: var(--space-xs);

  width: 100%;
  margin-bottom: var(--space-sm);
}

.carouselProgress > button {
  height: var(--space-sm);
  width: var(--space-sm);

  margin: 0;
  padding: 0;
}

/*----------------------------- ABOUT -----------------------------*/
#AboutSec {
  margin: 0vh var(--screenPadding-w) 3vh var(--screenPadding-w);
}

.aboutHeading {
  margin-bottom: var(--space-sm);
}

.shortStory {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 var(--space-xs);

  background-color: var(--white);
  border-radius: var(--space-md);
  padding: var(--space-sm);

  margin-bottom: var(--space-xs);
}

.shortStory h3{
  color: var(--primary);
}

.shortStory img{
  background-color: var(--primary);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

#AboutSec > div > div:nth-of-type(2){
  display: flex;
  height: var(--space-lg);
  gap: var(--space-xs);

  margin-bottom: var(--space-lg);
}
/*------------------------------ FAQ ------------------------------*/
#FAQSec {
  margin: 0vh var(--screenPadding-w) var(--screenPadding-h) var(--screenPadding-w);
}

.QAcontainer {
  padding: var(--space-xs) var(--space-xs);
  border-radius: var(--space-sm);
  cursor: pointer;
}

.question {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.question > img {
  height: var(--space-md);
  width: auto;

  background-color: var(--primary);
  border-radius: 50%;
}
/*----------------------------- Footer ----------------------------*/
footer {
  z-index: -50;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  align-items: center;
  justify-content: center;
  padding-bottom: var(--screenPadding-h);
}

/* Laptops and bigger */
@media only screen and (min-width: 1100px) {
  :root {
    --space-base: 1.25em;
  } 


  .contentContainer {
    display: flex;
  }

  .carousel{
    overflow:auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }

  .carousel::-webkit-scrollbar{
    display: none; 
  }

  .landingContainer {
    position: sticky;
    top: 10vh;
    transform: translateY(10vh);
    width: 30vw;
    height: 100vh;
  }

  #LandingSection > p {
    width: 100%;
  }

  .scrollIndicator {
    display: none;
  }

  .contentContainer > div:nth-of-type(2) {
    width: 100%;
  }

  .Projects {
    width: 70%;
    margin-left: 30%;
  }

}