@import url("./Typography.css");
/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after { box-sizing: border-box;}
* { margin: 0; padding: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
#root, #__next { isolation: isolate; }

/*------------------------------------------------------------------*/
:root {
  /* Colours */
  --primary:       #1E1E1E;
  --primary-light: color-mod(var(--color-primary) tint(15%));
  --primary-dark:  color-mod(var(--color-primary) shade(15%));

  --accent:       #f5414f;
  --accent-light: color-mod(var(--color-accent) tint(15%));
  --accent-dark:  color-mod(var(--color-accent) shade(10%));

  --white:       #FAFAFA;
  --gray:        hsla(210, 4%, 80%, 1);
  --black:       hsla(210, 4%, 15%, 1);

  --selected:    color-mod(var(--primary) alpha(20%));
  --success:     #50C878;
  --error:       hsla(0, 96%, 35%, 1);
  --warning:     hsla(48, 96%, 45%, 1);

  /* Spacing */
  --space-unit:   clamp(1rem, 5vw, 2rem);
  --space-xxs:    calc(0.25 * var(--space-unit));
  --space-xs:     calc(0.5 * var(--space-unit));
  --space-sm:     calc(0.75 * var(--space-unit));
  --space-md:     calc(1.25 * var(--space-unit));
  --space-lg:     calc(2 * var(--space-unit));
  --space-xl:     calc(3.25 * var(--space-unit));
  --space-xxl:    calc(5.25 * var(--space-unit));
}
/*------------------------------------------------------------------*/

* {
  background-color: var(--primary);
  color: var(--white)
}

button{
  justify-content:center;
  padding: 4px;
  border-style: solid;
  border-color: var(--white);
  border-radius: 100px;
  padding: 4px 12px 4px 8px;
}

/*----------------------------- TOP NAV ----------------------------*/
#TopNav {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding: 10px 15px;
}

#TopNav, .MenuContainer, .Availability, button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MenuContainer {
  gap: 12px;
}

.StatusIndicator {
  height: 10px;
  width: 10px;
  margin-right: 4px;

  background-color: var(--success);
  border-radius: 100%;
  border-style: none;
}

.btn-icon {
  height: 20px;
  width: auto;
  margin-right: 4px;
}
/*----------------------------- LANDING ----------------------------*/
#section {
  display: flex;
  align-items: center;

  width: 100vw;
  height: 100vh;
}
/*---------------------------- PROJECTS ----------------------------*/
#ProjectContainer {
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;

  padding-top: 100px;
}

/*----------------------------- ABOUT -----------------------------*/

/* Large phones */
@media only screen and (min-width: 640px) {}

/* Tablets */
@media only screen and (min-width: 768px) {}

/* Laptops */
@media only screen and (min-width: 1024px) {}

/* Desktops */
@media only screen and (min-width: 1280px) {}