@import url("./Typography.css");
/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after { box-sizing: border-box;}
* { margin: 0; padding: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
#root, #__next { isolation: isolate; }

/*------------------------------------------------------------------*/
:root {
  /* Colours */
  --primary:       #1A1A1A;
  --primary-light: color-mod(var(--color-primary) tint(15%));
  --primary-dark:  color-mod(var(--color-primary) shade(15%));

  --accent:       #f5414f;
  --accent-light: color-mod(var(--color-accent) tint(15%));
  --accent-dark:  color-mod(var(--color-accent) shade(10%));

  --white:       #FAFAFA;
  --gray:        hsla(210, 4%, 80%, 1);
  --black:       hsla(210, 4%, 15%, 1);

  --selected:    color-mod(var(--primary) alpha(20%));
  --success:     #50C878;
  --error:       hsla(0, 96%, 35%, 1);
  --warning:     hsla(48, 96%, 45%, 1);

  /* Spacing */
  --space-unit:   clamp(1rem, 5vw, 2rem);
  --space-xxs:    calc(0.25 * var(--space-unit));
  --space-xs:     calc(0.5 * var(--space-unit));
  --space-sm:     calc(0.75 * var(--space-unit));
  --space-md:     calc(1.25 * var(--space-unit));
  --space-lg:     calc(2 * var(--space-unit));
  --space-xl:     calc(3.25 * var(--space-unit));
  --space-xxl:    calc(5.25 * var(--space-unit));
}
/*------------------------------------------------------------------*/

#root {
  background-color: var(--primary);
  color: var(--white);

  background-image: url(../Assets/Noise\ &\ Texture.svg);
  background-repeat: repeat;
  scroll-behavior: smooth;
}

button{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 6px 12px 6px 7px;

  border-style: solid;
  border-color: var(--white);
  border-radius: 100px;
  background: none;
}

button > img {
  height: 20px;
  width: auto;
  margin-right: 4px;
}

/*----------------------------- TOP NAV ----------------------------*/
#TopNav {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  padding: 3vh 8vw;
  z-index: 1;
}

#TopNav, .MenuContainer, .Availability {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StatusIndicator {
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;

  background-color: var(--success);
  border-radius: 50%;
  border-style: none;
}

.MenuContainer {
  gap: 10px;
}
/*----------------------------- LANDING ----------------------------*/
#LandingSection {
  display: flex;
  flex-direction: column;

  padding-left: 5vw;
  width: 100vw;
  height: 80vh;
  gap: 0.5vh;

  padding-top: 20vh;
}

#LandingSection > p {
  width: 75vw;
}

.contacts {
  display: flex;
  gap: 4vw;
}

.contacts img {
  width: 40px;
  height: auto;
}

.quote {
  margin-top: 5vh;
  margin-right: 15vw;
}

.quote > h3 {
  width: 60vw;
  margin-bottom: 1rem;
}

.scrollIndicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 20vh;
}
/*---------------------------- PROJECTS ----------------------------*/
#ProjectSection {
  height: 500vh;
  position: relative;
  padding: 10vh 1vw;
}

.sticky-text {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0vh 10vw;
  align-items: center;
 
  z-index: -1;
  text-align: center;
}

.content {
  position: relative;
  z-index: 1; /* Ensure content scrolls over the background text */
  padding: 20px;
}

/*------------------------ CAROUSEL & CARD ------------------------*/

.Projects > div {
  margin: 30vh 5vw;
  stroke: var(--white);
}

.cardDisplay {
  padding: 5vh 5vw;
  width: 100%;
  height: 25vh;
  background-color: #c4c2c2;
}

/*----------------------------- ABOUT -----------------------------*/
#AboutSec {
  height: 100vh;
  background-color: var(--white);
}

/* Large phones */
@media only screen and (min-width: 640px) {}

/* Tablets */
@media only screen and (min-width: 768px) {}

/* Laptops */
@media only screen and (min-width: 1024px) {}

/* Desktops */
@media only screen and (min-width: 1280px) {}