@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Sizing */
    --text-base:    clamp(14px, 1.6rem, 21px);
    --text-scale:   1.3;

    --text-xxs:     calc(var(--text-base) / (var(--text-scale) * var(--text-scale)));
    --text-xs:      calc(var(--text-base) / var(--text-scale));
    --text-sm:      var(--text-base);
    --text-md:      calc(var(--text-base) * var(--text-scale));
    --text-lg:      calc(var(--text-base) * var(--text-scale) * var(--text-scale));
    --text-xl:      calc(var(--text-base) * var(--text-scale) * var(--text-scale) * var(--text-scale));

    /*  */
}
p, h1, h2, h3, h4, h5, h6 { 
    font-family: "Rubik", sans-serif; 
    font-optical-sizing: auto;
    color: #FAFAFA;;
}

h5 {
    font-weight: 450;
    font-style: semi-bold;
}