@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Sizing */
    --text-base:    clamp(14px, 1.6rem, 21px);
    --text-scale:   1.3;

    --text-xxxs:     calc(var(--text-base) / (var(--text-scale) * var(--text-scale) * var(--text-scale)));
    --text-xxs:     calc(var(--text-base) / (var(--text-scale) * var(--text-scale)));
    --text-xs:      calc(var(--text-base) / var(--text-scale));
    --text-sm:      var(--text-base);
    --text-md:      calc(var(--text-base) * var(--text-scale));
    --text-lg:      calc(var(--text-base) * var(--text-scale) * var(--text-scale));
    --text-xl:      calc(var(--text-base) * var(--text-scale) * var(--text-scale) * var(--text-scale));

    /* Colours */
    --primary:           #1A1A1A;
    --secondary:         #FAFAFA;
    --secondary-dark:    #E5E5E5;
}

p, h1, h2, h3, h4, h5, h6 { 
    font-family: "Rubik", sans-serif; 
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--secondary);
}

h1 {
    font-weight: 700;
    font-size: var(--text-lg);
    letter-spacing: -0.25%;
    line-height: 120%;
}

h2 {
    font-weight: 600;
    font-size: var(--text-md);
    letter-spacing: -0.2%;
    line-height: 130%;
}

h3 {
    font-weight: 500;
    font-size: var(--text-sm);
    letter-spacing: 0.15%;
    line-height: 130%;
}

h4 {
    font-weight: 400;
    font-size: var(--text-xs);
    letter-spacing: 0.15%;
    line-height: 100%;
}

h5 {
    font-weight: 450;
    font-size: var(--text-xxs);
    letter-spacing: 0.15%;
    line-height: 100%;
}

h6 {
    font-weight: 350;
    font-size: var(--text-xxxs);
    letter-spacing: 0.15%;
    line-height: 100%;
}

p {
    font-weight: 200;
    font-size: var(--text-xs);
    letter-spacing: 0.01rem;
    line-height: 120%;
    color: var(--secondary-dark);
}

.lg {
    font-size: var(--text-md);
}

.sm {
    font-size: var(--text-xxs);
}

.caption {
    font-weight: 200;
    font-size: var(--text-xxxs);
    letter-spacing: 0.5%;
    color: var(--secondary-dark);
}

.outline {
    font-weight: 800;
    color: var(--primary);
    -webkit-text-stroke: 2px var(--secondary); 
    paint-order: stroke fill;
}